/dist-newstyle
/.direnv
.projectile
/.vscode
.#*
*#
*.artifact
*.swp
docs/
/cooked-validators-cabal-build.out
/cooked-validators-cabal-build.res
/cooked-validators-cabal-test.out
/cooked-validators-cabal-test.res
/cooked-validators-hpack.out
/cooked-validators-hpack.res
/cooked-validators-ormolu.out
/cooked-validators-ormolu.res
/examples-cabal-build.out
/examples-cabal-build.res
/examples-cabal-test.out
/examples-cabal-test.res
/examples-hpack.out
/examples-hpack.res
/examples-ormolu.out
/examples-ormolu.res
/pirouette-plutusir-cabal-build.out
/pirouette-plutusir-cabal-build.res
/pirouette-plutusir-cabal-test.out
/pirouette-plutusir-cabal-test.res
/pirouette-plutusir-hpack.out
/pirouette-plutusir-hpack.res
/pirouette-plutusir-ormolu.out
/pirouette-plutusir-ormolu.res
